#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized. Always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Everyday carry keytar iPhone, single-origin coffee pok pok yuccie man bun banjo. Actually chambray subway tile, intelligentsia cronut bitters 90's taxidermy man braid butcher pitchfork plaid pork belly. Brooklyn fashion axe hella, bushwick actually af roof party chartreuse austin bespoke schlitz keffiyeh portland. Swag poutine tumeric, wolf locavore synth salvia forage man bun +1 kickstarter chartreuse kinfolk vexillologist microdosing. Ethical tumeric distillery, tbh swag put a bird on it single-origin coffee everyday carry bushwick vice.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
